@model mijnZorgRooster.Models.RoosterDTO

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Rooster</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Jaar)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Jaar)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Maand)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Maand)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.StartDatum)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.StartDatum)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.EindDatum)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.EindDatum)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AantalDagen)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AantalDagen)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AanmaakDatum)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AanmaakDatum)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.WijzigingsDatum)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.WijzigingsDatum)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IsGevalideerd)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IsGevalideerd)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.RoosterID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
<div>
    @if (Model.Diensten != null)
    {
        <h3>Diensten behorende bij het rooster</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Datum</th>
                <th>Begintijd</th>
                <th>Eindtijd</th>
                <th>Beschrijving</th>
                <th>Minimale bezetting</th>
            </tr>

            @foreach (var item in Model.Diensten)
            {
                string selectedRow = "";
                if (item.DienstID == ViewBag.DienstID)
                {
                    selectedRow = "success";
                }
            <tr class="@selectedRow">
                <td>
                    <a asp-action="Details" asp-controller="Dienst" asp-route-id="@item.DienstID">Select</a>
                </td>
                <td>
                    @item.Datum
                </td>
                <td>
                    @item.Begintijd
                </td>
                <td>
                    @item.Eindtijd
                </td>
                <td>
                    @item.Beschrijving
                </td>
                <td>
                    @item.MinimaleBezetting
                </td>
            </tr>
            }

        </table>
    }
</div>