@model IEnumerable<mijnZorgRooster.Models.DienstProfielDTO>

@{
	ViewData["Title"] = "Index";
}

<h2>Overzicht Dienstprofielen</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Beschrijving)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Begintijd)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Eindtijd)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MinimaleBezetting)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Beschrijving)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Begintijd)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Eindtijd)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MinimaleBezetting)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.DienstProfielID">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.DienstProfielID">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.DienstProfielID">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>