@model mijnZorgRooster.Models.Entities.Contract

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeginDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Einddatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Einddatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractUren)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractUren)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerlofDagenPerJaar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerlofDagenPerJaar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParttimePercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParttimePercentage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContractID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
