@model mijnZorgRooster.Models.DTO.DienstDto
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dienst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienstProfiel.Begintijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienstProfiel.Begintijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienstProfiel.Eindtijd)</dt>
        <dd>
            @Html.DisplayFor(model => model.DienstProfiel.Eindtijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienstProfiel.Beschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienstProfiel.Beschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienstProfiel.MinimaleBezetting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienstProfiel.MinimaleBezetting)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>