@model IEnumerable<mijnZorgRooster.Models.DTO.DienstDto>

@{
    ViewData["Title"] = "Index";
}

	<h2>Index</h2>

	<h2>Overzicht Alle Diensten</h2>

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DienstID)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Datum)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DienstProfiel.Beschrijving)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DienstProfiel.Begintijd)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DienstProfiel.Eindtijd)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DienstProfiel.MinimaleBezetting)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DienstID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Datum)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DienstProfiel.Beschrijving)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DienstProfiel.Begintijd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DienstProfiel.Eindtijd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DienstProfiel.MinimaleBezetting)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.DienstID">Details</a> |
				</td>
			</tr>
		}
		</tbody>
	</table>
